* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.blink {
    animation: cursorHighlight 500ms linear infinite;
    animation-delay: 500ms;

}

.container {
    display: flex;
    padding: 24px;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 80%;
    flex-direction: column;
}
.corrected {
    color: #886600;
    background-color: #ddd;
}

.hidden {
    visibility: hidden;
}
.highlight {
    background-color: #000;
    color: #fff;
}

.incorrect-highlight {
    background-color: darkgray;
    color: rgb(219, 87, 87);
}
.incorrect {
    color: #eb7775;
    background-color: lightgray;
}

.list-unstyled {
    list-style: none;
}
.reset-button {
    font-size: 16px;
    padding: 8px;
    color: #fff;
    background-color: #2196f3;
    border: none;
    border-color: lightgrey;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
}

.reset-button:hover {
    background-color: #1e88e5;
}

.reset-button:active {
    background-color: #1976d2;
}
.text-input {
    margin-top: 16px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 16px;
}
.text {
    width: 100%;
    font-size: 24px;
    overflow: auto;
    font-family: monospace;
}

.typed {
    color: #228822;
}
.untyped {
    color: #868e96;
}

@keyframes cursorHighlight {
    0% {
        background-color: black;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}